* {
  color: #ffffff;
}
body {
  background-color: rgb(50, 50, 50);
}
button {
  width: 8%;
  height: 8%;
  background-color: rgb(20, 20, 20);
  border-radius: 20px 20px 20px 20px; 
  border-width: 5px;
  font-size: 3vh;
}
.search-bar {
  width: 50%;
  height: 10%;
  background-color: rgb(70, 70, 70);
  text-align: center;
  margin-left: 25%;
  margin-top: 15%;
  border-radius: 9999px 9999px 9999px 9999px;
  border-width: 4px;
  font-size: 4vh;
  outline: none;
  color: #dddddd;
}
.search-bar:hover {
  background-color: rgb(90, 90, 90);
}

