* {
  color: #ffffff;
}
body {
  padding: none;
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
}
iframe {
  background-color: rgb(0, 0, 0);
}
button {
  margin: auto;
  padding: 4vh
  display: inline-block;
  min-width: 16vh;
  min-height: 8vh;
  background-color: rgb(40, 40, 40);
  cursor: pointer;
  border-style: solid;
  border-color: rgb(70, 70, 70);
  border-radius: 2vh 2vh 2vh 2vh; 
  border-width: 0.5vh;
  font-size: 3vh;
  white-space: nowrap;
}
button:hover {
  background-color: rgb(50, 50, 50);
}
button:active {
  background-color: rgb(60, 60, 60);
}
iframe {
  position: absolute;
  border: none;
  margin: 0;
  margin-bottom: none;
  height: 100%;
  width: 100%;
}
.dropdown {
  position: relative;
  margin: auto;
}
.dropdown-menu {
}
.dropdown-content {
  position: absolute;
  display: none;
  background-color: rgb(40, 40, 40);
  border-style: solid;
  border-color: rgb(70, 70, 70);
  border-radius: 2vh 2vh 2vh 2vh; 
  border-width: 0.5vh;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-button {
  margin: auto;
  width: 16vh;
  height: 8vh;
  background-color: rgb(40, 40, 40);
  cursor: pointer;
  border: none;
  font-size: 3vh;
  white-space: normal;
}
.main-menu {
  display: block;
}
.options  {
  width: 50vh;
  display: flex;
  justify-contents: center;
}
.search-bar {
  width: 100vh;
  height: 10vh;
  background-color: rgb(70, 70, 70);
  text-align: center;
  margin: auto;
  border-style: solid;
  border-radius: 9999px 9999px 9999px 9999px;
  border-color: rgb(0, 0, 0) rgb(50, 50, 50) rgb(50, 50, 50) rgb(0, 0, 0);
  border-width: 0.8vh;
  font-size: 4vh;
  outline: none;
  color: #dddddd;
}
.search-bar:hover {
  background-color: rgb(90, 90, 90);
}
.options {
  display: flex;
  justify-content: center;
}

