* {
  color: #ffffff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
}
button {
  margin: auto;
  width: 16vh;
  height: 8vh;
  background-color: rgb(40, 40, 40);
  cursor: pointer;
  border-style: solid;
  border-color: rgb(70, 70, 70);
  border-radius: 2vh 2vh 2vh 2vh; 
  border-width: 0.5vh;
  font-size: 3vh;
}
button:active {
  background-color: rgb(60, 60, 60);
}
.main-menu {

}
.search-bar {
  width: 100vh;
  height: 10vh;
  background-color: rgb(70, 70, 70);
  text-align: center;
  margin: auto;
  border-radius: 9999px 9999px 9999px 9999px;
  border-width: 0.8vh;
  font-size: 4vh;
  outline: none;
  color: #dddddd;
}
.search-bar:hover {
  background-color: rgb(90, 90, 90);
}

