* {
  color: #ffffff;
}
.search-bar {
  width: 50%;
  height: 15%;
  background-color: rgb(60, 60, 60);
  text-align: center;
  margin-left: 25%;
  margin-top: 15%;
  corner-radius: 25%;
}
body {
  background-color: rgb(50, 50, 50);
}

