* {
  color: #ffffff;
}
.search-bar {
  width: 50%;
  height: 10%;
  background-color: rgb(60, 60, 60);
  text-align: center;
  margin-left: 25%;
  margin-top: 15%;
  border-radius: 9999px 9999px 9999px 9999px; /* Rounds only left corners */
  border-right: none;               /* Removes double border between elements */
  border-width: 4px;
  font-size: 1.5rem;
}
body {
  background-color: rgb(50, 50, 50);
}

